body{
    margin: 10px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    /* background-color: red; */
}
h1{
    margin: 0;
    padding: 0;
    /* border: 10px solid burlywood; */
    width: 100%;
    color: darkgoldenrod;
    text-align: center;
    background-color: brown;
    /* margin-left: 80px; */
    letter-spacing: 10px;
}
form{
    background-color: aquamarine;
    width: 80%;
    border: 2px solid blueviolet;
    margin: 10px 80px;
}
label{
    color: rgb(207, 21, 114);
}
input{
    color: brown;
}
placeholder{
    color: chartreuse;
}